<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" />
    <link rel="stylesheet" href="../static/styles.css" />
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script> -->
    
</head>
<body>
    
    <h1>MOTION TRACKING</h1>
    <section class="userSelect">
        <span class="userType">
            <label for="publisher">Record on a mobile device</label>
            <a href="/publisher" id="publisher" class="selectUserType">PUBLISHER</a>
        </span>
        <span class="userType">
            <label for="subscriber">Use recorded motion data</label>
            <a href="/subscriber" id="subscriber" class="selectUserType">SUBSCRIBER</a>
        </span>
    </section>
</body>
</html>