<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{{url_for('static', filename='gyrodata.js')}}"></script>
</head>
<body>
    <h1>HELLO WORLD</h1>
    <!-- <p id=texti class=pee>hallo</p> -->
    <p>ACCELERATION:</p>
    <p>
        <span id=texti class=pee>hallo</span>
    </p>
    <button id="submit">SUBMIT</button>
    <p>X=
        <span id=accX>hallo</span>
    </p>
    <p>Y=
        <span id=accY>hallo</span>
    </p>
    <p>Z=
        <span id=accZ>hallo</span>
    </p>
    
    <p>INTERVAL:</p>

    <p>Interval:
        <span id=interval>hallo</span>
    </p>

    <p>GYROSCOPE:</p>

    <p>X=
        <span id=gyroX>hallo</span>
    </p>
    <p>Y=
        <span id=gyroY>hallo</span>
    </p>
    <p>Z=
        <span id=gyroZ>hallo</span>
    </p>

    <p>ORIENTATION:</p>

    <p>X=
        <span id=oriX>hallo</span>
    </p>
    <p>Y=
        <span id=oriY>hallo</span>
    </p>
    <p>Z=
        <span id=oriZ>hallo</span>
    </p>

    <p>POSITION:</p>

    <p>X=
        <span id=posX>hallo</span>
    </p>
    <p>Y=
        <span id=posY>hallo</span>
    </p>
    <p>Z=
        <span id=posZ>hallo</span>
    </p>

</body>
</html>