<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" />
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script> -->
    <script src="https://js.pusher.com/7.2/pusher.min.js"></script>
    <!-- <script src="{{url_for('static', filename='gyrodata.js')}}"></script> -->
    <script src="{{url_for('static', filename='subscriber.js')}}"></script>
    
</head>
<body>
    <h1>MOTION TRACKING</h1>
    <label for="send_dta_to_server">Send Data To Server</label>
    <input type="text" id="dta_to_server" placeholder="5">
    <button id="send_dta_to_server">Send</button>
    <label for="receive_dta_from_server">Receive Data From Server</label>
    <button id="receive_dta_from_server">Receive</button>
    <p>Data From Server=
        <span id="dta_from_server">Null</span>
    </p>

    <section class="sensors">
        <div class=sensor>
            <h2>ORIENTATION:</h2>

            <p>X=
                <span id=oriX>hallo</span>
            </p>
            <p>Y=
                <span id=oriY>hallo</span>
            </p>
            <p>Z=
                <span id=oriZ>hallo</span>
            </p>
        </div>
        <div class=sensor>
            <h2>POSITION:</h2>

            <p>X=
                <span id=posX>hallo</span>
            </p>
            <p>Y=
                <span id=posY>hallo</span>
            </p>
            <p>Z=
                <span id=posZ>hallo</span>
            </p>
        </div>
    </section>
</body>
</html>